
<script type="text/javascript">
  $(document).ready(function(){
    
$('.bxslider').bxSlider({
  auto: true,
  autoControls: false
});
  });
</script>

<div class="slider">
	<ul class="bxslider">
		<li><%= image_tag("slider_images/puddle.jpg") %></li>
		<li><%= image_tag("slider_images/ocean.jpg") %></li>
		<li><%= image_tag("slider_images/sculpture.jpg") %></li>
	</ul>
</div>


<h1>Latest News</h1>
<%= render 'shared/latest_news' %>