

<div class="slider">
	<ul class="bxslider">
		<li><%= image_tag("slider_images/puddle.jpg") %></li>
		<li><%= image_tag("slider_images/ocean.jpg") %></li>
		<li><%= image_tag("slider_images/sculpture.jpg") %></li>
	</ul>
</div>

<!--TODO: make this section dynamic so that "news" updates are pulled from a db-->
<h1>Latest News</h1>
<%= render 'shared/latest_news' %>