<h1>Ordering Information</h1>
<p>See a picture you like?  I'm happy to take custom orders for any picture you like.  Unfortunately, the site's shopping cart 
hasn't been developed yet.  In the meantime, please use the <%= link_to "contact form", '#' %> to let me know which picture you would like to order and 
I'll get back to you with details!</p>