/* universal */

body
{
	padding: 0px;
	margin: 0px;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size: 2.5em;
}

h3
{
	font-size: 2em;
}

h4
{
	font-size: 1.5em;
}

h5
{
	font-size: 1.25em;
}

h6
{
	font-size:1.1em;
}

/* tools */

.f-right
{
	float:right;
}
.f-left
{
	float:left;
}
.clear
{
	clear:both;
}
.center
{
	text-align:center;
}

/* header */

header
{
	background-color:black;
	width:100%;
	height:120px;
	div
	{
		width:1000px;
		margin-left:auto;
		margin-right:auto;
		background-color:black;
		text-align:left;
		position:relative;
		overflow:hidden;
	}
	h1
	{
		color:white;
		display:inline;
	}
	h3
	{
		color:white;
		display:block;
		position:absolute;
		right:0px;
		top:30px;
	}
	#logo
	{
		float:left;
		margin-right:10px;
		border:none;
	}
}

/* navigation */

nav
{
	clear:both;
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	ul
	{
		list-style:none;
		width:1000px;
		li
		{
			display:inline;
			font-size:1.7em;
		}
		a
		{
			color:black;
			text-decoration:none;			
			&:hover
			{
				color:#444;
			}
		}
	}
}

/* main body */

.main-container
{
	clear:both;
	width:980px;
	margin-right:auto;
	margin-left:auto;
	background-color:black;
	color:white;
	padding:10px;
	border-radius:10px;
	-moz-border-radius:10px; /* Old Firefox */
}

/* footer */

footer
{
	margin-top:100px;
	border-top:1px dotted white;
	position:relative;
	ul
	{
		list-style:none;
		position:absolute;
		right:0px;
		top:0px;
		li
		{
			display:inline;
		}
		a
		{
			color:white;
			text-decoration:none;			
			&:hover
			{
				color:#ccc;
			}
		}
	}
}

/* forms */

.news-input
{
	width:100%;
}

.error-message
{
	width:970px;
	border:solid 1px #ff0000;
	background-color:#ff9988;
	color: #ff0000;
	border-radius:10px;
	-moz-border-radius:10px; /* Old Firefox */
	padding:5px;
}